body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #fa80e6;
  color: white;
  padding: 8px 2px;
  margin-left: 40%;
  cursor: pointer;
  width: 20%;
  margin-bottom: 0.3rem;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 20px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 200px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
  
.maincontainer{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 1rem;
    width: auto;
    height: auto;
    margin-left: 2rem;
}
.thecard{
    width: 15rem;
    height: 20rem;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard:hover{
    transform: rotateY(180deg);

}
.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    text-align: center;
    font-family: 'zilla slab',sans-serif;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}
.theback{
    display: flex;
    justify-content: center;
    flex-direction:column;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: pink;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
    font-family: 'zilla slab',sans-serif;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}

.thecard>.thefront>img{
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
}
.thecard>.theback>button{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 7rem;
    margin-left: 4rem;
    background-color: rgb(90, 245, 55);
    border-radius: 15px;
    filter: drop-shadow(4px 4px 4px green);

}
.thecard>.theback>button>img{
    height: 1.5rem;
    width: 1.5rem;
}
.thecard>.theback>button .busy{
    /* margin-top: 0.2rem; */
    font-weight: 20;
    font-size: 1.5rem;
    margin-right: 4px;
} 
.heading{
    font-size: 2rem;
    border-style: double;
    line-height: 2rem;
    width: 6rem;
    margin-left: 4rem;
    background: rgb(255, 249, 128);
    filter: drop-shadow(4px 4px 4px rgb(248, 145, 81));

}  